<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <style type="text/css">
    html,body{
      height: 100%;
    }
  </style>
</head>
<body>
  <div style="background-color: rgba(0,0,0,0.6);padding-top: 20px;padding-bottom: 20px;margin-right: 15%;margin-left: 15%;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <form method="post" action="/register">
            <input type="text" id="username" name="username" placeholder="Enter User name" style="width: 40%;height:40px;background-color: rgba(255,255,255,0.8); border-radius: 20px;"><br><br>
            <input type="password" name="password" placeholder="Enter Password" style="width: 40%;height:40px;background-color: rgba(255,255,255,0.8);border-radius: 20px;"><br><br>
          <button class="btn btn-primary btn-md">Signup</button>
        </form>
      </div>


      <div style="background-color: rgba(0,0,0,0.6);padding-bottom: 20px;padding-top: 20px;margin-left: 15%;margin-right: 15%;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <form method="post" action="/login">
            <input type="text" id="uname" name="username" placeholder="Enter User name" style="width: 40%;height:40px;background-color: rgba(255,255,255,0.8); border-radius: 20px;"><br><br>
            <input type="password" id="pas" name="password" placeholder="Enter Password" style="width: 40%;height:40px;background-color: rgba(255,255,255,0.8);border-radius: 20px;"><br><br>
          <button class="btn btn-primary btn-md">Login</button>
        </form> 

      </div>
</body>
</html>